<!DOCTYPE html>
<html>
<head>
  <title>Errsole</title>
</head>
<body>
  <h1>Hello <%= name %></h1>
  <p>
    <h2>Upload a Picture</h2>
    <form action="/upload-file" method="post" enctype="multipart/form-data">
      <input type="file" name="picture" />
      <input type="submit" value="Upload File" />
    </form>
  </p>
</body>
</html>
